#sunIcon h1 {
    color: whitesmoke!important;
}


.buttonMargin {margin: 2vh 2vh 0 0;}


#logoMenu a {
    padding: 2rem 1rem 0 1rem;
}

#pointContainer img {
    height: 8rem;
}


.mapContainer {
    display: none;
    transition: display 1s ease;
}


.mapContainer.active {
    display: flex;
}

#themeWrapper.timeBlur {
    background: #1f1f1f;
    z-index: 20;
    opacity: 0.9;
}

#mapWrapper.toview {z-index: 100!important;}

.h100 {height: 100%;}

.gridCategory {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}



#linkCont a {z-index: 100;}

#starscnt {
    min-height: 30vh;
}
.stars {
    transition: opacity 1.7s ease 1s;
    opacity: 0;
    background-repeat: no-repeat;
    min-height: 26vh;
    min-width: 30vw;
    background-size: 100% auto;
    background-image: url("./media/stars.png");
}
.stars.themeTrue {
    opacity: 1;
}



#gallerySection {
    display: none!important;
    z-index: -300;
}

#gallerySection.frontview {
    height: 100%;
    display: flex!important;
    z-index: 200;
}

#galleryWrapper {
    overflow-y: scroll;
    background-color: #bfa570;
    min-height: 70vh;
}

#galleryWrapper.tgColor {
    background-color: #47354e;
}

#closeGallery {min-height: 40px; min-width: 100%;}
.grid {display: grid;}
.gallery__img {width: 100%;}

.gallery__item {
    overflow: hidden;
}
.gallery img {
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}
.gallery img:hover {
    transform: scale(1.2);
}

#closeGalleryBtn {z-index: 300;}