#sunIcon h1 {
    color: whitesmoke!important;
}
a {color: white; text-shadow: black -1px 1px 4px; text-decoration: none; font-size: 22px;}

.buttonMargin {margin: 2vh 2vh 0 0;}


#logoMenu a {
    padding: 2rem 1rem 0 1rem;
}

.links {padding: 0 2rem 0 2rem;}

