a, h1, h2, h3, h4, h5 {
    color: white!important;
    text-decoration: none;
}

.card__text {
    padding: 1rem 10px 1rem 10px;
    position: absolute;
}


#SunIcon {
    z-index: -10;
}


@keyframes slideBackTheme {
    from {
        background: linear-gradient(180deg, #F6EFD2, #CEAD78);
    }
    35% {
        background: linear-gradient(180deg, #F6EFD2, #e9ca42);
    }
    50% {
        background: linear-gradient(180deg, #F6EFD2, #d1b849);
    }
    85% {
        background: linear-gradient(180deg, #F6EFD2,  #d1b849);
    }
    to {background: linear-gradient(180deg, #F6EFD2, #CEAD78);}
}



#coverContainer {
    animation: slideBackTheme 2.5s ease;
}

@media (min-width: 236px) {
    #header {
        min-height: 46vh;
        
    }
    #PointContainer {
        padding-top: 2rem;
    }

    @keyframes sunSlide {
        from {
            margin: 10vh 0 0 0;
            opacity: 0;
            
        }
        50% {
            margin: 2vh 0 0 26vw;
            opacity: 1;
        }
        to {
            margin: 10vh 0 0 48vw;
            opacity: 0;
        }
    }
    #SunIcon {
        animation: sunSlide 3s ease;
    }
    #SunIcon {
        opacity: 0;
        margin: 15vh 0 0 0;
        height: 5rem;
    }

    .padding__lr {
        width: 100%;
        padding: 0 1rem 0 1rem;
    }
    #Sun__Icon {
        margin: 6rem 0 0 0;
    }
    .padding__tb {
        padding: 3rem 0 1rem 0;
    }

    .DecorSign {
        height: 3rem;
    }
    .DecorPictures {
        height: 6rem;
    }

    #MainContent {
        display: block!important;
    }
    #LogoContainer img{
        z-index: 10;
        height: 6rem;
    }

}

@media (min-width: 456px) {
    .DecorSign {
        height: 5rem;
    }
    .DecorPictures {
        height:10rem;
    }

    @keyframes sunSlide {
        from {
            margin: 10vh 0 0 0;
            opacity: 0;
            
        }
        50% {
            margin: 2vh 0 0 36vw;
            opacity: 1;
        }
        to {
            margin: 10vh 0 0 58vw;
            opacity: 0;
        }
    }
    #SunIcon {
        animation: sunSlide 3s ease;
    }
    #SunIcon {
        height: 8rem;
    }
}

@media (min-width: 768px) {
    #header {
        min-height: 40vh;
    }
    .padding__lr {
        width: 100%;
        padding: 0 7rem 0 7rem;
    }
    #Sun__Icon {
        margin: 8rem 0 0 0;
    }
    .padding__tb {
        padding: 3rem 0 2rem 0;
    }
    .DecorSign {
        height: 4rem;
    }
    .DecorPictures {
        height: 7rem;
    }
    #MainContent {
        display: flex!important;
    }

    @keyframes sunSlide {
        from {
            margin: 20vh 0 0 0;
            opacity: 0;
            
        }
        50% {
            margin: 5vh 0 0 30vw;
            opacity: 1;
        }
        to {
            margin: 20vh 0 0 60vw;
            opacity: 0;
        }
    }
    #SunIcon {
        animation: sunSlide 3s ease;
    }
    #SunIcon {
        opacity: 0;
        margin: 20vh 0 0 0;
        height: 10rem;
    }
}

@media (min-width: 992px) {
    .DecorSign {
        height: 5rem;
    }
    .DecorPictures {
        height: 9rem;
    }
    #LogoContainer img{
        height: 10rem;
    }

    @keyframes sunSlide {
        from {
            margin: 10vh 0 0 0;
            opacity: 0;
            
        }
        50% {
            margin: 2vh 0 0 36vw;
            opacity: 1;
        }
        to {
            margin: 10vh 0 0 70vw;
            opacity: 0;
        }
    }
    #SunIcon {
        animation: sunSlide 3s ease;
    }
}

@media (min-width: 1366px) {
    .DecorSign {
        height: 6rem;
    }
    .DecorPictures {
        height: 12rem;
    }
    #LogoContainer img{
        height: 15rem;
    }
}

